*:focus {
  outline: none;
}
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  justify-content: center;
  display: flex;
  margin-top: 10%;
  background-color: #244a56;
}

.container {
  width: 350px;
  height: 450px;
  border: 5px solid #95959b;
  background-color: #a5a5a5;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

h2 {
  color: black;
  font-size: 30px;
}

input {
  width: 80%;
  height: 38px;
  font-size: 16px;
  padding: 4px;
  margin-top: 20px;
  color: darkblue;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}

button {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #244a56;

  font-size: 15px;
  cursor: pointer;
}

span {
  color: #000b7f;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn {
  width: 100px;
  background-color: green;
  color: wheat;
}

.home {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: lightblue;
  width: 100%;
  padding: 20px;
}
